---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PageBanner from '../../components/PageBanner.astro';
import { getCollection, render } from 'astro:content';
import moonBanner from '../../assets/banners/about-me-banner.jpg';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <article>
    <PageBanner src={moonBanner} alt="A close-up view of the Moon" />
    <h1>{post.data.title}</h1>
    <Content />
  </article>
</BaseLayout>
